<h1>Welcome</h1>
<% if user_signed_in? %>
  <%= link_to 'Sign Out', destroy_user_session_path, data: {turbo_method: :delete} %>
<% else %>
  <%= link_to 'Sign in/Sign up', new_user_session_path %>
<% end %>

<div>
  <%= link_to 'View all posts', posts_path %>
  <br>
  <%= link_to 'Create new post', new_post_path %>
</div>
